@model ExpTrackr.Models.Expense

@{
    ViewData["Title"] = "Delete Expense";
}

<h1>@ViewData["Title"]</h1>

<h5 class="font-weight-normal">Are you sure you want to delete the following expense from your <em>@ViewData["BudgetName"]</em> budget?</h5>
<hr />

<div>
    <dl class="row">
        <dt class = "col-4 col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-8 col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd class>
        <dt class = "col-4 col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-8 col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-4 col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-8 col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger mr-2" />
        <a asp-action="Index" asp-route-budgetId="@ViewData["BudgetID"]" class="btn btn-light">Cancel</a>
    </form>
</div>
