@model IEnumerable<Expense>

@{
    ViewData["Title"] = "Expenses";
}

<h1>@ViewData["BudgetName"]</h1>

<p><span class="font-weight-bold">Limit: </span>@ViewData["BudgetMax"]</p>

<p>
    <a class="btn btn-primary" asp-action="Create" asp-route-budgetId="@ViewData["BudgetID"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ExpenseID" asp-route-budgetId="@ViewData["BudgetID"]">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ExpenseID" asp-route-budgetId="@ViewData["BudgetID"]">Delete</a>
                </td>
            </tr>
        }
        @if (Model.Any())
        {
            <tr>
                <td colspan="2" class="text-right font-weight-bold pr-5">Total</td>
                <td class="font-weight-bold">@ViewData["BudgetTotal"]</td>
            </tr>
        }
    </tbody>
</table>
