@model ExpTrackr.Models.Budget

@{
    ViewData["Title"] = "Delete Budget";
}

<h1>@ViewData["Title"]</h1>

<h5 class="font-weight-normal">Are you sure you want to delete the following budget?</h5>
<hr />

<div>
    <dl class="row">
        <dt class = "col-4 col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetName)
        </dt>
        <dd class = "col-8 col-sm-10">
            @Html.DisplayFor(model => model.BudgetName)
        </dd>
        <dt class = "col-4 col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetMax)
        </dt>
        <dd class = "col-8 col-sm-10">
            @Html.DisplayFor(model => model.BudgetMax)
        </dd>
        <dt class = "col-4 col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetTotal)
        </dt>
        <dd class = "col-8 col-sm-10">
            @Html.DisplayFor(model => model.BudgetTotal)
        </dd>
        <dt class = "col-4 col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-8 col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger mr-2" />
        <a asp-action="Index" class="btn btn-light">Cancel</a>
    </form>
</div>
