@model IEnumerable<ExpTrackr.Models.Budget>

@{
    ViewData["Title"] = "My Budgets";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary ">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BudgetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BudgetTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BudgetMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="font-weight-bold text-center">
                <a asp-controller="Expense" asp-action="Index" asp-route-id="@item.BudgetID">
                    @Html.DisplayFor(modelItem => item.BudgetName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BudgetTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BudgetMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BudgetID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BudgetID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BudgetID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
