@model ExpTrackr.Models.ViewModels.CategoryViewModel

@{
    ViewData["Title"] = "My Categories";
}

<h1>@ViewData["Title"]</h1>

@*<p class="mb-3">
        <a asp-action="Create" class="btn btn-primary" title="Add new category"><i class="fas fa-plus"></i> New Category</a>
    </p>*@

<ul class="category-list">
    @foreach (var item in Model.Categories)
    {
        <li class="category-list-item">
            <div class="list-button">
                <a asp-action="Edit" asp-route-id="@item.CategoryID" title="Edit" class="mr-2"><i class="fas fa-edit text-warning"></i></a>
                <a asp-action="Delete" asp-route-id="@item.CategoryID" title="Delete"><i class="fas fa-trash-alt text-danger"></i></a>
            </div>
            <div class="list-detail">
                @Html.DisplayFor(modelItem => item.CategoryName)
            </div>
        </li>
    }

    <li class="category-list-item">
        <div class="list-button">
            <button type="button" class="btn btn-primary create-button">
                <i class="fas fa-plus"></i>
            </button>
        </div>
        <div class="list-detail">
            <form asp-action="Create" class="create-form">
                <div asp-validation-summary="ModelOnly" class="text-danger">
                </div>
                <div class="form-input-box">
                    <input asp-for="CategoryName" class="form-control border-0 input-boxshadow" />
                    <span asp-validation-for="CategoryName" data-valmsg-replace="true" class="text-danger">@ViewData["DuplicateNameErrorMessage"]</span>
                </div>
                <div class="form-input-button">
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-check"></i>
                    </button>
                </div>
                <input type="hidden" asp-for="UserID" value="@Model.UserID" />
            </form>
        </div>
    </li>
</ul>


<br />
<p>
    <a asp-controller="Budget" asp-action="Index" class="btn btn-light">Go to My Budgets <i class="fas fa-angle-right"></i></a>
</p>
